name: Contenous integration and Deployment

on: 
  push:
    branches: 
      - main

jobs:
  buid: 
    runs-on: ubuntu-latest
    steps:
     - name: check out code
       uses: actions/checkout@v3    
    
     - name: Set up .NET Core
       uses: actions/setup-dotnet@v2
       with: 
        dotnet-version: '6.0.x'

     - name: dotnet restore
       run: dotnet restore

     - name: Build with dotnet
       run: dotnet build --configuration Release -no-restore
